[Unit]
Description=etcd service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/etcd \
--name etcd-310 \
--data-dir /var/data/etcd \
--listen-peer-urls http://0.0.0.0:2380 \
--listen-client-urls http://0.0.0.0:2379 \
--initial-advertise-peer-urls http://10.100.97.81:2380 \
--initial-cluster etcd-4450=http://10.100.97.236:2380,etcd-510=http://10.100.97.92:2380,etcd-310=http://10.100.97.81:2380 \
--initial-cluster-state existing \
--advertise-client-urls http://10.100.97.81:2379

[Install]
WantedBy=multi-user.target