[Unit]
Description=etcd service
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/etcd/etcd.conf
ExecStart=/etc/etcd/etcd.bootstrap.sh

[Install]
WantedBy=multi-user.target