[Unit]
Description=etcd service

[Service]
Restart=always
EnvironmentFile=/etc/etcd/etcd.conf
ExecStartPre=-/bin/mkdir -p /var/data/etcd
ExecStart=/usr/bin/etcd

[Install]
WantedBy=multi-user.target